
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0a503d;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box; 
  transition: all 1.3ms ease;
}

::-webkit-scrollbar-thumb:hover{
  border: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}