.root,
#root {
    --Jp-primary-color: #008081;
    --Jp-bold-text-color: #232323;
    --Jp-normal-text-color: #787878;
    --Jp-gray-color: #f2f2f2;
    --Jp-white-color: #fff;
    --Jp-yellow-touch-color: #ffd800;
}


/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    }
    
    /* End of Media Query Styling for Tablet Device */
    
    /* Media Query Styling for Mobile Device */
    
    @media only screen and (max-width: 450px) {
    
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    
    }
    
    /* End of Media Query Styling for Mobile Device */
    
    
    /* Media Query Styling for Mobile Device */
    
    @media only screen and (max-width: 351px) {
    
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    }
    
    /* End of Media Query Styling for Mobile Device */ 