/* src/styles/index.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.root,
#root {
    --Jp-primary-color: #008081;
    --Jp-bold-text-color: #232323;
    --Jp-normal-text-color: #787878;
    --Jp-gray-color: #f2f2f2;
    --Jp-white-color: #fff;
    --Jp-yellow-touch-color: #ffd800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hiddenScrollBar {
    overflow: hidden !important;
}

.heroBg1B {
    background-image: url(./assets/herobgimg1B.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.heroBg1 {
    background-image: url(./assets/herobgimg1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
}

.heroBg2B {
    background-image: url(./assets/herobgimg2B.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.heroBg2 {
    background-image: url(./assets/herobgimg2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
}

.heroBg3B {
    background-image: url(./assets/herobgimg3B.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.heroBg3 {
    background-image: url(./assets/herobgimg3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
}

.heroBg4B {
    background-image: url(./assets/herobgimg4B.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.heroBg4 {
    background-image: url(./assets/herobgimg4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
}
.dodBg {
    background-image: url(./assets/dodbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.discountBg {
    background-image: url(./assets/bigdiscountBg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 480px) {
    .heroBg1 {
        background-image: url(./assets/herobgimg1.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: none;
    }

    .heroBg1B {
        background-image: url(./assets/herobgimg1B.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .heroBg2 {
        background-image: url(./assets/herobgimg2.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: none;
    }
    .heroBg2B {
        background-image: url(./assets/herobgimg2B.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .heroBg3 {
        background-image: url(./assets/herobgimg3.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: none;
    }
    .heroBg3B {
        background-image: url(./assets/herobgimg3B.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .heroBg4 {
        background-image: url(./assets/herobgimg4.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: none;
    }
    .heroBg4B {
        background-image: url(./assets/herobgimg4B.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
    }
}

.toggle-dropdown {
    right: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
        visibility 0.25s ease-in-out;
    will-change: transform;
}
.toggle-dropdown.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(0, 1, 0.4, 1),
        transform 0.8s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
    transform: scale(1);
}

._desktop_user_info #user-notification .customer.login {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;
}
#user-notification {
    position: absolute;
    right: 0;
    left: auto;
    text-align: left;
    width: max-content;
    z-index: 9;
    overflow: hidden;
}

.ishi-panel-data {
    visibility: hidden;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
        visibility 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}
.ishi-panel-data-slide {
    top: 0;
    left: 0;
    transform: translateX(100%);
}
.ishi-panel-data-default {
    transform: translateX(-100%);
}
.ishi-panel-data.active {
    transform: translateX(0);
    visibility: visible;
    position: unset;
}

._desktop_user_info #user-notification .customer.login {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;
}
._desktop_user_info #user-notification .customer.login h2 {
    margin-top: 0;
}
._desktop_user_info #user-notification .customer.login .forgot {
    float: right;
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}

.ant-drawer-header-title {
    justify-content: end;
}
.ant-drawer-body {
    padding: 0 !important;
}

/* .owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
} */

.h3textBg::before {
    content: "";
    position: absolute;
    top: 0px;
    width: 40px;
    height: 40px;
    z-index: -1;
    background: #108383;
    border-radius: 80% 30% 40% 80%/65% 50% 35% 60%;
}

.owl-carousel {
    display: flex !important;
    flex-direction: column !important;
    gap: 5px !important;
}

.owl-nav {
    width: 100%;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.owl-nav.disabled {
    display: none !important;
}

.owl-nav button span {
    font-size: 15px;
    background: #008081;
    height: 30px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.newsletterBg {
    background-image: url(./assets/Newslatter-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.owl-dots {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #0f807f !important;
    transition: all 0.3s ease-in-out;
}
.owl-dot.active {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #0f807f !important;
    background: #0f807f !important;
    transition: all 0.3s ease-in-out;
}

.collBg1 {
    background-image: url(./assets/collectionPhone2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg2 {
    background-image: url(./assets/collTab1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg3 {
    background-image: url(./assets/collAirpod2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg4 {
    background-image: url(./assets/collSpeakers3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg5 {
    background-image: url(./assets/collConsole1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg6 {
    background-image: url(./assets/collWatch2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg7 {
    background-image: url(./assets/collLaptop1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.collBg1:hover,
.collBg2:hover,
.collBg3:hover,
.collBg4:hover,
.collBg5:hover,
.collBg6:hover {
    transform: scale(1.05);
    transition: all 1.8s ease-in-out;
}

.phoneColBg1 {
    background-image: url(./assets/collectionPhone1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.phoneColBg2 {
    background-image: url(./assets/collectionPhone2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.tabColBg1 {
    background-image: url(./assets/collTab1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.tabColBg2 {
    background-image: url(./assets/collTab2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.tabColBg3 {
    background-image: url(./assets/collTab3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.speakerColBg1 {
    background-image: url(./assets/collSpeakers1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.speakerColBg2 {
    background-image: url(./assets/collSpeakers2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.speakerColBg3 {
    background-image: url(./assets/collSpeakers3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.laptopColBg1 {
    background-image: url(./assets/collLaptop1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.laptopColBg2 {
    background-image: url(./assets/collLaptop2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.laptopColBg3 {
    background-image: url(./assets/collLaptop3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.consoleColBg1 {
    background-image: url(./assets/collConsole1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.consoleColBg2 {
    background-image: url(./assets/collConsole2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.consoleColBg3 {
    background-image: url(./assets/collConsole4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.smartWatchColBg1 {
    background-image: url(./assets/collWatch1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.smartWatchColBg2 {
    background-image: url(./assets/collWatch2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.smartWatchColBg3 {
    background-image: url(./assets/collWatch3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.airpodColBg1 {
    background-image: url(./assets/collAirpod1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.airpodColBg2 {
    background-image: url(./assets/collAirpod2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.airpodColBg3 {
    background-image: url(./assets/collAirpod3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesDelBg {
    background-image: url(./assets/servDel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesChatBg {
    background-image: url(./assets/servCustomer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesPayBg {
    background-image: url(./assets/servPay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesOfferBg {
    background-image: url(./assets/servOffer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesReturnBg {
    background-image: url(./assets/servReturn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesHybBg {
    background-image: url(./assets/servShop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesTrackBg {
    background-image: url(./assets/servTrack.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}
.servicesPromoBg {
    background-image: url(./assets/servPromo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1.8s ease-in-out;
}

.phoneColBg1:hover,
.tabColBg3:hover,
.tabColBg2:hover,
.tabColBg1:hover,
.speakerColBg1:hover,
.speakerColBg2:hover,
.speakerColBg3:hover,
.laptopColBg1:hover,
.laptopColBg2:hover,
.laptopColBg3:hover,
.consoleColBg1:hover,
.consoleColBg2:hover,
.consoleColBg3:hover,
.smartWatchColBg1:hover,
.smartWatchColBg2:hover,
.smartWatchColBg3:hover,
.airpodColBg1:hover,
.airpodColBg2:hover,
.airpodColBg3:hover,
.servicesChatBg:hover,
.servicesPayBg:hover,
.servicesOfferBg:hover,
.servicesReturnBg:hover,
.servicesHybBg:hover,
.servicesTrackBg:hover,
.servicesPromoBg:hover,
.servicesDelBg:hover {
    transform: scale(1.05);
    transition: all 1.8s ease-in-out;
}
.divIncrease:hover {
    transform: scale(1.05);
    transition: all 0.8s ease-in-out;
}

.divIncrease {
    transition: all 0.8s ease-in-out;
}
